<h3>基本的な遊び方</h3>
<ol>
    <li>
        <strong>まずエモモンをを購入しよう</strong>
        <p>SHOPボタンを押してエモモンを購入しよう</p>
    </li>
    <li>
        <strong>トレーニングをしてエモモンを育てよう</strong>
        <p>標高トレーニング、ダッシュ、お参りを行ってエモモンのステータスを上げよう。標高トレーニングはスタミナが、ダッシュはスピードが、お参りは運の値が上がるよ。</p>
    </li>
    <li>
        <strong>レースに参加しよう</strong>
        <p>トレーニングを10回行うとレースに出場するよ。出場させるエモモンを選んでレースに参加させよう。レースに参加するとエモモンのステータスが上がるよ。</p>
    </li>
</ol>

<h3>特性とは？</h3>
<p>エモモンにはランダムで0～2この特性がつくよ。特性はレースで発揮され、自分のステータスが上がったり相手のステータスを下げるものがあるよ。特性の効果はエモモンの詳細画面から確認しよう。</p>

<h3>お金の使い道</h3>
<p>お金はレース終了後とエモモンが手放されたときにもらえるよ。お金はエモモンの購入、特殊トレーニングで使用できるよ。お金の使い方は慎重にね。</p>

<h3>特殊トレーニング</h3>
<p>特殊トレーニングには特別稽古、特別合宿、キャリア延長があるよ。特殊トレーニングはエモモンの詳細画面から確認できるよ。</p>

<h3>ステータスの効果</h3>
<p>スタミナの値が高いとレース後半も周期と確率の値が下がりにくくなるよ。スピードの値が高いと周期の値が小さくなるよ。
    運の値が高いと確率の値が大きくなるよ。周期が短いと進むまでにかかる時間が短くなるよ。確率の値が大きいと進める可能性が大きくなるよ。
</p>